.contact, .form-cctv{
    padding: 2% 2%;
    .form-control,.form-group:focus{
        box-shadow: none;
    }
    .form-control:focus{
        box-shadow: none;
        border: 2px solid var(--color-form);
    }
    h2{
        text-align: center;
        margin: 2%;
    }
}


