.hero{
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-page.jpg);
    background-position: center;
    background-size: cover;
    .hero-content{
        background: rgba(0,0,0,0.7);
        padding: 20px;
        border-radius: 10px;
        .title-hero{
            color: var(--color-white);
        }
        .text-hero{
            color: var(--color-white);
        }
        /*
        @media screen and(min-height: 375px){
            .text-hero:hover{
                display: block;
            }
        }*/
    }
}