.info{
    padding: 10%;
    margin: auto;
}
.hero{
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-page.jpg);
    background-position: center;
    background-size: cover;
    .hero-content{
        background: rgba(0,0,0,0.7);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin: auto;
        .title-hero{
            color: var(--color-white);
        }
    }   
}
.text-hero{
    display: none;
    color: var(--color-white);
    max-width: 500px;

}
@media screen and (min-width: 400px){
    .text-hero{
        display: block;
    }
}