.sectionA {
  width: 80%;
  height: auto;
  border-radius: 6px;
  margin: auto;
  padding: 40px 0 20px 0;
  h3 {
    text-align: center;
    padding-bottom: 4%;
  }
  .contenedorServicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    img {
      width: 500px;
      object-fit: cover;
      box-shadow: 5px 5px 10px -6px black;
    }
  }
}

  