.servicios{
    .title-servicio{
        text-align: center;
        margin-bottom: 2%;
    }
}
.card{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    img{
        object-fit: contain;
    }
} 
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.servicio-gc-domotic{
    padding-top: 5%;
    .title-empresa{
        text-align: center;
        margin-bottom: 2%;
    }
}